:root{
    --yTranslate: 400px;
}

@font-face {
    font-family: creepster;
    src: url(font/Creepster-Regular.otf);
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    overflow-y: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}


.text-container{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: darkorange;
    text-align: center;
    font-family: creepster, sans-serif;
    font-size: 3rem;
}

#countdown{
    font-size: 10rem;
}

#emojis{
    font-size: 3rem;
    position: absolute;
    top: 45%;
    left: 49%;
}

@media screen and (max-width: 768px) {
    :root{
        --yTranslate: 200px;
    }
    #emojis{
        font-size: 3rem;
        top: 43%;
        left: 43%;
        
    }

    .text-container{
        top: 50%;
        font-size: 2rem;
    }

    #countdown{
        font-size: 6rem;
    }
}

@keyframes spin{
    0% { 
        transform: rotate(0deg)  
              translateY(var(--yTranslate)) rotate(0deg); 
    } 

    100% { 
        transform: rotate(360deg)  
              translateY(var(--yTranslate)) rotate(-360deg); 
    } 
}
